<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Edit Product</title>
	<link rel="stylesheet" th:href="@{/styles.css}" />
</head>

<body>
	<form method="POST" th:action="@{/editProduct}" th:object="${product}">
		<h1>Product</h1>
		<i>You must enter a description for the product.</i><br /><br />
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label for="code">Product Code: </label>
		<input type="text" th:field="*{code}" /><br />
		<label for="desciption">Product Description: </label>
		<input type="text" th:field="*{description}" /><br />
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label for="price">Product Price: </label>
		<input type="text" th:field="*{price}" /><br /><br />
		<input type="submit" value="Update Product" />
        <input type="submit" value="View Product" />
	</form>
</body>

</html>